<?php echo $header; ?>
<div class="container">
  <ul class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>
  <?php if ($attention) { ?>
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $attention; ?>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <?php } ?>
  <?php if ($success) { ?>
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <?php } ?>
  <?php if ($error_warning) { ?>
  <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <?php } ?>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <h1><?php echo $heading_title; ?>
        <?php if ($weight) { ?>
        &nbsp;(<?php echo $weight; ?>)
        <?php } ?>
      </h1>
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
        <div class="table-responsive table-checkout-cart">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center"></td>
                <td class="text-center"><?php echo $column_image; ?></td>
                <td class="text-left"><?php echo $column_name; ?></td>
                <td class="text-left"><?php echo $column_model; ?></td>
                <td class="text-center"><?php echo $column_quantity; ?></td>
                <td class="text-right"><?php echo $column_price; ?></td>
                <td class="text-right"><?php echo $column_total; ?></td>
              </tr>
            </thead>
            <tbody>
              <?php foreach ($products as $product) { ?>
              <tr>
                <td class="text-center btn-remove-product">
                  <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn-remove" onclick="cart.remove('<?php echo $product['cart_id']; ?>');"><i class="fa fa-trash-o"></i></button>
                </td>
                <td class="text-center"><?php if ($product['thumb']) { ?>
                  <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-thumbnail" /></a>
                  <?php } ?></td>
                <td class="text-left"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                  <?php if (!$product['stock']) { ?>
                  <span class="text-danger">***</span>
                  <?php } ?>
                  <?php if ($product['option']) { ?>
                  <?php foreach ($product['option'] as $option) { ?>
                  <br />
                  <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small>
                  <?php } ?>
                  <?php } ?>
                  <?php if ($product['reward']) { ?>
                  <br />
                  <small><?php echo $product['reward']; ?></small>
                  <?php } ?>
                  <?php if ($product['recurring']) { ?>
                  <br />
                  <span class="label label-info"><?php echo $text_recurring_item; ?></span> <small><?php echo $product['recurring']; ?></small>
                  <?php } ?></td>
                <td class="text-left"><?php echo $product['model']; ?></td>
                <td class="text-center">
                  <div class="input-group btn-block" style="max-width: 80px;min-width: 70px;">
                    <div class="form-quantity">
                      <div class="btn-minus"><input type="button" value="-" data-cartqty="cart-qty-<?php echo $product['cart_id']; ?>" class="qty minus" /></div>

                      <input type="text" id="cart-qty-<?php echo $product['cart_id']; ?>"  name="quantity[<?php echo $product['cart_id']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" class="form-control cart-qty" />

                      <!-- <input type="text" name="quantity[<?php echo $product['cart_id']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" class="form-control" /> -->

                      <div class="btn-plus"><input type="button" value="+" data-cartqty="cart-qty-<?php echo $product['cart_id']; ?>" class="qty plus"/></div>
                      <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
                    </div>
                  </div>
                </td>
                <td class="text-right"><span class="price-product"><?php echo $product['price']; ?></span></td>
                <td class="text-right"><span class="total-price"><?php echo $product['total']; ?></span></td>
              </tr>
              <?php } ?>
              <?php foreach ($vouchers as $voucher) { ?>
              <tr>
                <td></td>
                <td class="text-left"><?php echo $voucher['description']; ?></td>
                <td class="text-left"></td>
                <td class="text-center"><div class="input-group btn-block" style="max-width: 80px;min-width: 70px;">
                    <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                    <span class="input-group-btn">
                    <button type="button" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger" onclick="voucher.remove('<?php echo $voucher['key']; ?>');"><i class="fa fa-times-circle"></i></button>
                    </span></div></td>
                <td class="text-right"><?php echo $voucher['amount']; ?></td>
                <td class="text-right"><?php echo $voucher['amount']; ?></td>
              </tr>
              <?php } ?>
            </tbody>
          </table>
        </div>
      <div class="row">
        <div class="box-show-price">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            <?php foreach ($totals as $total) { ?>
            <tr>
              <td class="text-right"><strong><?php echo $total['title']; ?>:</strong></td>
              <td class="text-right"><span class="total-price"><?php echo $total['text']; ?></span></td>
            </tr>
            <?php } ?>
          </table>
        </div>
        </div>
      </div>
      <div class="row"> 
      <div class="col-sm-8 col-xs-12">
        <?php if ($modules) { ?>
  <!--       <h2><?php echo $text_next; ?></h2>
        <p><?php echo $text_next_choice; ?></p> -->
        
        <div class="panel-group" id="accordion">
          <?php foreach ($modules as $module) { ?>
          <?php echo $module; ?>
          <?php } ?>
        </div>
        <?php } ?>
      </div>
      
        <div class="col-sm-4 col-xs-12">
          <div class="checkout-cart-buttons">
            <div class="button-checkout-cart"><a href="<?php echo $checkout; ?>" class="btn btn-primary"><?php echo $button_checkout_cart; ?></a></div>
            <div class="button-shopping"><a href="<?php echo $continue; ?>" class="btn btn-default"><?php echo $button_shopping; ?></a></div>
            <div class="button-update-cart"><button type="submit" title="<?php echo $button_update; ?>" class="btn btn-primary"><?php echo $button_update_cart; ?></button></div>
          </div>
        </div>
      </div>
      
      </form>

      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?> 
<script type="text/javascript">
  $('.minus').click(function(){
    var id_rel = $(this).data('cartqty');
    var qty = parseInt($('#' + id_rel).val());
    if(qty > 0) {
      qty--;
      $('#' + id_rel).val(qty);
    }
  });

  $('.plus').click(function(){
    var id_rel = $(this).data('cartqty');
    var qty = parseInt($('#' + id_rel).val());
    qty++;
    $('#' + id_rel).val(qty);
  });
</script>