<div class="ajax-container">
  <div class="success-content">
    <div class="page-title"><h1><?php echo $heading_title;?></h1></div>
    <?php echo $text_message; ?>
    <div class="buttons action">
      <div class="pull-right"><button class="button btn-popup-login" onclick="window.location.href='<?php echo $continue; ?>'"><span><?php echo $button_continue; ?></span></button></div>
    </div>
  </div>
</div>