.over-menu{display: none;}
.vermagemenu {
    position: relative;
    z-index: 10;
}
.content-vermagemenu {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 13;
}
.content-vermagemenu h2 {
    color: #222222;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 15px;
    position: relative;
    text-align: left;
        background: #f9c831;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/*.content-vermagemenu h2:before {
    position: absolute;
    left: 0;
    height: 46px;
    width: 5px;
    background: #ff8900;
    top: 0;
    content: "";
}
h2 .fa {
    float: left;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}*/
/*h3.title-vegamenu:before{
    content: "\f0ab";
    top: 16px;
    right: 25px;
    position: absolute;
    font-size: 18px;
    font-family: FontAwesome;
}
h3.title-vegamenu:after{
    content: "\f03b";
    top: 16px;
    left: 25px;
    position: absolute;
    font-size: 18px;
   font-family: FontAwesome;
}
.content-vermagemenu{position: relative;}*/
/*.content-vermagemenu:before{
    content: "";
    border-bottom: 4px solid #f4a137;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: 11;
}*/
.pt_vmegamenu {
    font-size: 14px;
    z-index: 1000;
}
.pt_vmegamenu div.pt_ver_menu {
    padding: 0;
    position: relative;
/*    width: 195px;*/
}
.pt_vmegamenu div.popup {
}
.pt_vmegamenu #pt_ver_menu_link ul li a.act, .pt_vmegamenu #pt_ver_menu_link ul li a:hover, .pt_vmegamenu div.pt_ver_menu.act .parentMenu a {
    /*background-color: #FFC0CB;*/
}
/*.pt_vmegamenu div.pt_ver_menu .parentMenu:hover{
    background: #00a9e0;
    color: #fff;
}*/
.pt_vmegamenu .pt_ver_menu :hover .wrap-popup {
    
}
.pt_vmegamenu div.pt_ver_menu.active .wrap-popup{
    left: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.pt_vmegamenu div.popup {
    background-color: #FFFFFF;
    display: none;
    left: 100%;
    position: absolute;
    text-align: left;
    z-index: 3000;
    top: 0px;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu {

    font-size: 13px;
    color: #2d2d2d;
    font-weight: 600;
    position: relative;
    padding-left: 58px;
}
/*.pt_vmegamenu div.pt_ver_menu .parentMenu a, .pt_vmegamenu div.pt_ver_menu .parentMenu span.block-title {
    background: none repeat scroll 0 0 #f1f0f0;
    display: block;
    text-decoration: none;
    width: 175px;
}*/
.parentMenu img.thumbnail_image {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.pt_vmegamenu div.div.pt_ver_menu .parentMenu a, .pt_vmegamenu div.div.pt_ver_menu .parentMenu span.block-title {
    text-decoration: none;
    display: block;
    color: #454545;
    font-weight: 600;
    font-size: 14px;
    text-transform: none;
    word-wrap: break-word;
    margin-bottom: 3px;
}
.pt_vmegamenu div.pt_ver_menu.had-child .parentMenu:before {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    color: white;
    margin-top: -8px;
    line-height: 1;
}
.pt_vmegamenu div.pt_ver_menu.had-child .parentMenu:hover::before{
    color: #f9c831;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu span.block-title:hover, 
.pt_vmegamenu div.pt_ver_menu .parentMenu a:hover {
    /*background:  url(../images/bg-left-menu.png) no-repeat 92% 50%;*/
    /*color: #ff8900;*/
}
.pt_vmegamenu div.pt_ver_menu:hover{
   /* background: #3c3c3c;*/
}
.pt_vmegamenu div.pt_ver_menu .parentMenu a, 
.pt_vmegamenu div.pt_menu .parentMenu span.block-title {
    text-decoration: none;
    display: block;
    background: url(../images/bg-left-menu.png) no-repeat 92% 50%;
    text-transform: none;
    word-wrap: break-word;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    padding: 0px;
    text-transform: capitalize;
}
.pt_vmegamenu div.popup a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemMenu a.level1 {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemSubMenu h4.level2 span {
    color: #897725;
}
.pt_vmegamenu .itemSubMenu h4.level2, .pt_vmegamenu .itemSubMenu a.level2, .pt_vmegamenu .itemSubMenu h4.level3, .pt_vmegamenu .itemSubMenu a.level3, .pt_vmegamenu .itemMenu a.level1.nochild {
    background: url("../images/black-dot.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    padding-left: 8px;
    text-transform: none;
}
.pt_vmegamenu .itemSubMenu a.level2:hover, .pt_vmegamenu .itemMenu a.level1.nochild:hover {
    color: #A52A2A;
}

.pt_vmegamenu div.popup a.actParent {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 500;
    word-wrap: break-word;
    margin: 0px 0 5px 0;
    width: 100%;
    float: left;
}
.pt_vmegamenu div.popup a.actParent:hover,.pt_vmegamenu div.popup a.act:hover{
    color: #17b3e8;
}
.pt_vmegamenu div.popup a.act {
    font-size: 12px;
    color: black;
    font-weight: 300;
}
.pt_vmegamenu div.column .itemMenu.level1{
    float: left;
/*    width: 170px;*/
}
.pt_vmegamenu div.column .itemMenu.level1 .itemSubMenu.level0 .itemMenu.level1{
    padding:0;
    margin: 0 0 15px -10px;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
/*    width: 170px !important;*/
}
.pt_vmegamenu div.itemSubMenu {
    margin-left: 10px;
}
.pt_vmegamenu div.itemSubMenu a.itemMenuName{
    display: block;
    text-decoration: none;
    padding: 0 0;
    line-height: 28px;
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    word-wrap: break-word;
}
.pt_vmegamenu div.itemSubMenu a.itemMenuName:before {
    font-size: 11px;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
    content: "\f101";
}
.pt_vmegamenu div.itemSubMenu a.itemMenuName:before:hover{
    color: black;
}
.pt_vmegamenu .clearBoth {
    clear: both;
}
.pt_vmegamenu .block2 {
    margin-top: 10px;
    width: 660px;
}
.pt_vmegamenu #popup_home {
    display: none !important;
}
.pt_vmegamenu div.popup .block1 {
    overflow: hidden;
    width: auto ;
}
.pt_vmegamenu div.popup .block1 .column {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
/*    width: 700px;*/
}
.pt_vmegamenu div.popup .floatleft {
    float: left;
}
.pt_vmegamenu div.popup .blockright img {
    max-width: 100%;
}
.pt_vmegamenu div.popup .blockright .img-col2 img {
    margin-left: -10px;
}
.pt_vmegamenu div.popup .blockright .img-col3 img {
    margin-left: 10px;
}
.pt_vmegamenu div.popup .blockright .img-col4 img {
    margin-left: 0px;
}
.pt_vmegamenu .parentMenu .block-title {
    color: #1E7EC8;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu p {
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li {
    float: none;
    list-style: none outside none;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li a {
    display: block;
    float: none;
    padding: 5px 10px 6px;
}
.pt_vmegamenu #pt_ver_menu_link {
    padding: 0;
/*    width: 195px;*/
}
.pt_vmegamenu .wrap-popup {
    opacity: 0;
    position: absolute;
    left: 115%;
    top: 0;
    width: 914px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
/*.pt_vmegamenu .pt_ver_menu :hover .wrap-popup {
    left: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}*/
/*.pt_vmegamenu .wrap-popup:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}*/
.pt_vmegamenu div.pt_ver_menu .parentMenu {
    padding: 7.3px 0px 7.3px 15px !important;
    line-height: 40px;
    border-top: 1px solid #434343;
}
/*.common-home .navleft-container{display: block;}*/
.navleft-container {
    background: #186ea4;
    /* padding: 0px 15px; */
    border: 0;
    font-size: 14px;
    width: 100%;
}
.content-vermagemenu:hover .navleft-container{
    display: block!important;
}
.pt_vmegamenu .pt_ver_menu img {
    float: left;
    /*line-height: 40px;*/
    padding: 9px 15px;
}
.pt_vmegamenu {
    font-size: 14px;
    z-index: 1000;
        border: 1px solid #ccc;
    border-top: none;
}
.column.blockright  .block2 a{
    height: 80px;
    /*margin: 0 15px;*/
    vertical-align: middle;
}
.block2 > .row > .div{
    margin-left: -15px;
}
.block2 > .row > .div:first-child{
    margin-left: 0;
}
.popup .content-popup {
    background-color: #d7dce0;
    box-shadow: 0 0 5px -1px #666;
    text-align: left;
    z-index: 3000;
    padding: 25px 30px 15px;
}
.pt_vmegamenu div.column {
    float: left;
    width: 250px;
    padding-right: 0px;
    margin-right: 10px;
}
.pt_vmegamenu div.popup {
    padding: 0;
    display: none;
    position: absolute;
    top: 0 !important;
    text-align: left;
    width: auto !important;
    z-index: 3000;
    left: auto !important;
    /*max-width: 760px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}
.pt_vmegamenu div.pt_ver_menu.more-wrap,.pt_vmegamenu div.pt_ver_menu.close-wrap{
    border-bottom: none;

}
/*.more-wrap.pt_ver_menu{
    background: url(../images/11.png) 15px 15px no-repeat;
}
.close-wrap.pt_ver_menu{
    background: url(../images/12.png) 15px 15px no-repeat;
}*/
.pt_ver_menu.active .parentMenu a span{color: #f9c831;}
/**/
.btn-ver-menu {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 0;
    margin: 13px auto;
    float: right;
}
.line-1::before {
    content: '';
    left: 5px;
    top: 8px;
    position: absolute;
    width: 10px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    height: 2px;
    background: #2E313C;
    transition: -webkit-transform 0.3s, top 0.3s;
    transition: transform 0.3s, top 0.3s;
}
.line-1::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 8px;
    width: 10px;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    height: 2px;
    background: #2E313C;
    transition: -webkit-transform 0.3s, top 0.3s;
    transition: transform 0.3s, top 0.3s;
}
.line-2 {
    position: absolute;
    width: 20px;
    top: 50%;
    left: 50%;
    height: 2px;
    background: #2E313C;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.3s 0.3s, width 0.3s 0.6s;
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
}
.line-3::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 5px;
    width: 10px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    height: 2px;
    background: #2E313C;
    transition: -webkit-transform 0.3s, bottom 0.3s;
    transition: transform 0.3s, bottom 0.3s;
}
.line-3::after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 10px;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    height: 2px;
    background: #2E313C;
    transition: -webkit-transform 0.3s, bottom 0.3s;
    transition: transform 0.3s, bottom 0.3s;
}
.open .line-1:before {
    top: 8px!important;
    left: 9px !important;
    width: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    transition: -webkit-transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.open .line-1:after {
    top: 8px!important;
    width: 12px;
    right: 8px!important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    transition: -webkit-transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
}
.open .line-2 {
    width: 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: -webkit-transform 0.3s 0.3s, width 0.3s;
    transition: transform 0.3s 0.3s, width 0.3s;
}
.open .line-3:before {
    bottom: 8px!important;
    width: 12px;
    left: 9px!important;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: -webkit-transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
.open .line-3:after {
    bottom: 8px!important;
    width: 12px;
    right: 8px!important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    transition: -webkit-transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
}
/**/
/* media resposive */
@media (max-width: 1199px){}
@media (max-width: 1199px) and (min-width: 992px){
    .content-vermagemenu h3.title-vegamenu{font-size: 13px;}
     .pt_vmegamenu div.pt_ver_menu .parentMenu a,.pt_vmegamenu .pt_ver_menu img{padding: 7px;}
}
@media (max-width: 991px){
    .navbar-toggle{display: block !important;}
    .navbar{margin-bottom: 0 !important;border: none !important;}
    .menu-mobile{margin-top: 0px; padding: 0 15px; background: #36414D; height: 50px!important;}
    .navbar-inner{padding: 0!important;    height: 50px;}
    .navbar-brand{ line-height: normal!important;padding: 15px!important;}
    .mobilemenu a:hover,.mobilemenu ul ul a:hover, .mobilemenu ul li.active ul a{color: #17b3e8;}
    .pt_vmegamenu div.pt_ver_menu .parentMenu a, .pt_vmegamenu div.pt_menu .parentMenu span.block-title{
        font-size: 12px;
        padding: 0px 15px 0 0;
    }
    .content-vermagemenu h2{font-size: 15px;}
}
@media (max-width: 991px)and(min-width: 768px){

}
@media (max-width: 767px){
    
}
@media (max-width: 767px)and(max-width: 480px){}
@media (max-width: 479px){}